.form {
    padding: 1.2rem;
    border-radius: var(--bs-border-radius);
    border: 2px solid var(--bs-border-color);
}

.formButton {
    display: block !important;
    width: 30%;
    max-width: 280px;
    min-width: 140px;
    margin: 0 auto;
}
